#EduHome-Logo-row {
  height: 70px;
  background-color: black;
}
#EduHome-Logo-col {
  cursor: pointer;
  color: white;
  /* font-family: "Montserrat", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 25px; */
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 1.2px;
  /* background: radial-gradient(
          circle,
          rgba(2, 0, 36, 1) 10%,
          rgba(9, 9, 117, 1) 44%,
          rgba(9, 9, 121, 1) 55%,
          rgba(8, 39, 141, 1) 72%,
          rgba(7, 62, 156, 1) 78%,
          rgba(6, 82, 169, 1) 86%,
          rgba(2, 160, 221, 1) 98%,
          rgba(0, 212, 255, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
}
